.container {
    display: inline-block;
    width: 100%;
    background-color: #1C2230;
    color: white;
    padding: 50px;
}

.bg-dark {
    background-color: #181E2A;
}

.top-row {
    display: inline-block;
    width: 1200px;
    margin-left: calc((100% - 1200px) / 2);
    margin-right: calc((100% - 1200px) / 2);
}

.top-logo {
    display: inline-block;
    width: 50%;
    float: left;
}

.top-nav {
    display: inline-block;
    width: 50%;
    float: right;
    text-align: right;
}

.top-nav a {
    text-decoration: none;
    color: white;
    padding-left: 40px;
}

.hero-row {
    display: inline-block;
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
    margin-right: calc((100% - 600px) / 2);
    text-align: center;
    padding-bottom: 50px;
}

.hero-row img {
    display: inline-block;
    width: 100%;
}

.hero-text {
    display: inline-block;
    width: 100%;
}

.hero-text h1 {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}

.hero-text p {
    display: inline-block;
    width: 70%;
}

.hero-text button {
    display: inline-block;
    background-color: #4FC5D3;
    padding: 10px 65px;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    outline: none;
    border: none;
}

.features-cont-after {
    position: relative;
    z-index: 1;
}

.features-cont::after {
    content: "";
    background-image: url(../images/bg-curvy-desktop.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -400px;
    left: 0;
    z-index: -1;
}

.features-row {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    margin-right: calc((100% - 800px) / 2);
    text-align: center;
}

.features {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 30px;
    font-size: 12px;
}

.features img {
    margin-bottom: 15px;
    height: 60px;
}

.features h2 {
    margin-bottom: 15px;
}

.features p {
    line-height: 20px;
}

.productive-row {
    display: inline-block;
    width: 1200px;
    margin-left: calc((100% - 1200px) / 2);
    margin-right: calc((100% - 1200px) / 2);
    text-align: center;
}

.left-col {
    display: inline-block;
    width: 50%;
    float: left;
}

.left-col img {
    width: 90%;
}

.right-col {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: left;
    padding: 100px 0 0 20px;
}

.right-col h2 {
    width: 60%;
    margin-bottom: 20px;
    font-size: 30px;
}

.right-col p {
    width: 80%;
    margin-bottom: 20px;
    font-size: 14px;
}

.right-col a {
    color: #41AFD0;
    text-decoration: none;
    border-bottom: 1px solid #41AFD0;
    padding-bottom: 5px;
}

.right-col a img {
    vertical-align: middle;
}

.reviews-custom {
    padding-bottom: 300px;
}

.reviews-row {
    display: inline-block;
    width: 1100px;
    margin-left: calc((100% - 1100px) / 2);
    margin-right: calc((100% - 1100px) / 2);
    position: relative;
    font-size: 14px;
}

.reviews-row .quotes-image {
    top: -42px;
    left: -14px;
    position: absolute;
}

.quotes {
    background-color: #21293C;
    display: inline-block;
    width: 45px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.review {
    display: inline-block;
    width: 30%;
    float: left;
    background-color: #21293C;
    padding: 25px;
    margin-right: 55px;
}

.review:last-of-type {
    margin-right: 0;
}

.initials {
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}

.initials img {
    display: inline-block;
    float: left;
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
}

.initials p {
    display: inline-block;
    float: left;
    font-size: 10px;
}

/* .sign-up-row {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    margin-right: calc((100% - 800px) / 2);
    text-align: center;
    background-color: #21293C;
    position: absolute;
    top: 0;
    left: 0;
} */

footer.container{
    background-color: #0C1524;
    padding-top: 200px;
    position: relative;
}

.sign-up {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    margin-right: calc((100% - 800px) / 2);
    text-align: center;
    background-color: #21293C;
    color: white;
    position: absolute;
    top: -100px;
    left: 0;
    padding: 40px;
}

.sign-up h2 {
    margin-bottom: 10px;
}

.sign-up p {
    margin: 0 95px;
    font-size: 12px;
    line-height: 20px;
}

.sign-up input {
    width: 60%;
    padding: 10px 0;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    padding-left: 15px;
}

.sign-up button {
    display: inline-block;
    background-color: #4FC5D3;
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    outline: none;
    border: none;
}

.footer-row {
    display: inline-block;
    width: 1200px;
    margin-left: calc((100% - 1200px) / 2);
    margin-right: calc((100% - 1200px) / 2);
}

.bottom-logo {
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
}

.bottom-nav {
    display: inline-block;
    width: 100%;
}

.column-1 {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.column-1 img {
    vertical-align: top;
    margin-right: 10px;
    margin-top: 5px;
    height: 15px;
}

.column-1 p {
    display: inline-block;
    text-align: left;
    width: 90%;
}

.column-2 {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.column-2 img {
    margin-right: 20px;
}

.column-2 a {
    text-decoration: none;
    color: white;
}

.column-3 {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.column-3 a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: left;
    line-height: 25px;
}

.column-4 {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.column-4 a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: left;
    line-height: 25px;
}

.column-5 {
    display: inline-block;
    width: 18%;
    vertical-align: top;
    text-align: center;
}

.column-5 a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
}
